# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual environment
.venv/
env/
venv/

# Distribution/build
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# MacOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc

# Environment variables
.env

# Misc
coverage/
htmlcov/

# Claude
.claude/
